body {
  font: 80% arial, helvetica, sans-serif;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-family: "Courier New", monospace;
  display: block;
  color: #6B4E3D;
  font-size: 200%;
  font-weight: bold;
}

#my_grid {
  width: 960px;
}

.box {
  position: relative;
  left: 15%;
  float: left; 
  background: #eee;
  border: 1px solid #665544;
}

#choice_area {
  margin: auto;
}

td {
  padding: 10px;
}

.clear {
  clear: left;
}
