body {
	font: 80% arial, helvetica, sans-serif;
	margin: 0 auto;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 4px;
	overflow: hidden;
}
li {
	float: right;
}
#photo_link {
	border-radius: 50px

}
a:link, a:visited {
	display: block;
	color: #404040;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
	padding: 0px 20px 0px 20px;
	text-decoration: none;
}
a:hover, a:active {
	color: #000000;
	text-decoration: underline;

}
.wrapper{
	position: relative;
	top: 100px;
	text-align: center;
}
#google_image {
    margin: 20px;
}
#search_entry{
	margin: 20px;
}
#search_for{
	margin: 20px;
	width: 50%;
	min-height: 25px;
}

#footer_links {
	position: fixed;
	bottom: 1px;
	width: 100%;
	background-color: #efefef;
}

#left_footer_span {
	float: left;
}

.submit_button {
	color: #404040;
	height: 30px;
	text-shadow: 0px 1px 1px #ffffff;
	border-bottom: 1px solid #b2b2b2;
	border-radius: 2px;
}

